.inbox {
  background: rgba(252, 240, 227, 0.4);
  display: flex;
  flex-direction: column;

  @include for-large-up {
    display: flex;
    flex-direction: row;
  }

  &__picture {
    min-width: 290px;
    height: 348px;
    margin: 50px 15px 0px 15px;
    display: flex;
    justify-content: center;

    @include for-large-up {
      width: 425px;
      height: 510px;
      margin-top: 142px;
      margin-left: 193px;
      margin-bottom: 138px;
    }
  }

  &__img {
    min-width: 290px;
    height: 348px;

    @include for-large-up {
      width: 425px;
      height: 510px;
    }
  }

  &__content {
    min-width: 290px;
    margin: 32px 15px 48px 15px;

    @include for-large-up {
      width: 519px;
      margin-left: auto;
      margin-top: 115px;
      margin-right: 99px;
      margin-bottom: 116px;
    }
  }

  &__column {
    margin: 0 29px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-coral;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: $color-dark;
    margin-top: 17px;
    margin-bottom: 0px;

    @include for-large-up {
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
      margin-top: 24px;
    }
  }

  &__description {
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: $color-dark;
    margin-top: 18px;
    margin-bottom: 0px;

    @include for-large-up {
      margin-top: 30px;
    }
  }

  &__comment {
    background: $background-color-white;
    margin-top: 30px;

    @include for-large-up {
      margin-top: 44px;
      border-bottom: 2px solid #0185d0;
      width: 100%;
    }
  }

  &__comment-description {
    padding: 30px 20px;
    padding-bottom: 0px;
  }

  &__comment_logo {
    display: flex;
    align-items: center;
    padding: 26px 20px 30px 20px;

    @include for-large-up {
      margin: 26px 214px 28px 29px;
      padding: 0px;
    }
  }

  &__comment_img {
    margin-right: 11px;

    @include for-large-up {
      width: 40px;
      height: 40px;
    }
  }

  &__comment_text {
    height: 66px;
    width: 199px;

    @include for-large-up {
      width: 225px;
      height: 44px;
    }
  }

  &__comment_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }

  &__comment_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}
