$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142C6;
$text-color-coral: #F1592B;


$color-light:#F4F5F7;
$color-dark: #2B292D;


$background-color-white: #fff;
$background-color-orange: #f3c6bd;
$background-color-blue: #3141C5;

$color-button-blue: #3040C4;

$border-color: #2B292D33;
$border-color-white: #E3E3E3;
$border-color-dark: #2b292d26;
